@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif !important;
    background-color: rgb(26, 26, 26);
}

h1 {
    -webkit-background-clip: text;
    text-shadow: 0 0 6px #ffef5b;
    animation: slideLeft .8s;
    background-image: url(bg1.gif),linear-gradient(90deg,#ffe225 0,#2f6262 100%,#1a4241);
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.row {
    background-color: rgb(19, 19, 19);
    border-radius: 14px;
}

.col-md-3 p {
    color: white;
    text-align: center;
}

.since_txt{
    -webkit-background-clip: text;
    text-shadow: 0 0 6px #ffef5b;
    animation: slideLeft .8s;
    background-image: url(bg1.gif),linear-gradient(90deg,#ffe225 0,#2f6262 100%,#1a4241);
    -webkit-text-fill-color: transparent;
    font-weight: 700;
    text-align: center;
    font-size: 22px;
}

.member_description {
    font-family: 'Dosis', sans-serif;
    font-weight: 300;
    font-size: 14px;
    font-weight: bold;
    color: #FFFFFF;
    opacity: 0.85;
    text-align: center;
    padding: 14px;
}

.member_image {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 7px;
}

.MoonN_image {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 7px;
}

.furwei_image {
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 100px;
}

.furwei_txt {
    color:#FFFFFF;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 25px;
    font-weight:700;
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: url(https://64.media.tumblr.com/b88bd341f9001b8f39f5e2a85a5668b3/e17dbf1ec3b461f1-49/s400x600/63bf86642ed6b122d14572223e2f62c162f33067.gifv), linear-gradient(90deg, #ffffff00 0, rgba(255, 255, 0, 0) 100%, rgba(255, 255, 255, 0));
    text-shadow: 2px 2px 10px black;
      top: 0;
      text-align: center;
      width: 100%;
      margin-top: 2px;
      -webkit-user-select: none;     
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .owner_txt {
        color:#FFFFFF;
        font-family: 'Source Sans 3', sans-serif;
        font-size: 25px;
        font-weight:700;
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: url(https://64.media.tumblr.com/2abbf3b2e26855cea95b9218e46cda76/58ed8cdcbb6234ed-92/s400x600/e2ce3b42e7c7e8b8332c42150820bbe95ddaa98a.gifv), linear-gradient(90deg, #ffffff00 0, rgba(255, 255, 0, 0) 100%, rgba(255, 255, 255, 0));
        text-shadow: 2px 2px 10px black;
          top: 0;
          text-align: center;
          width: 100%;
          margin-top: 2px;
          -webkit-user-select: none;     
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
        }
    
        .vip_txt {
            color:#FFFFFF;
            font-family: 'Source Sans 3', sans-serif;
            font-size: 25px;
            font-weight:700;
            background-clip: border-box;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-image: url(https://64.media.tumblr.com/4decad1d3f00dbf4c80ee25d0f62088f/c3c7eebd7080503b-c2/s400x600/8d6ebf5938f22085ae1eaf790e710c16b8923991.gifv), linear-gradient(90deg, #ffffff00 0, rgba(255, 255, 0, 0) 100%, rgba(255, 255, 255, 0));
            text-shadow: 2px 2px 10px black;
              top: 0;
              text-align: center;
              width: 100%;
              margin-top: 2px;
              -webkit-user-select: none;     
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none;
            }
        